<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">UserID</th>
      <th scope="col">Email</th>
      <th scope="col">Admin</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.userId }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.isAdmin }}</td>
      <td>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDeleteUser(user.userId)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
