<h5 class="text-center">Current Reminders</h5>
<br />
<div class="card text-center">
  <div class="row font-italic card-header text-white bg-dark">
    <div class="col-md-4 col-sm-5 col-4">Reminder name</div>
    <div class="col-md-3 col-sm-4 col-3">Deadline</div>
    <div class="col-md-2 col-sm-3 col-5">Notification</div>
    <div class="col-md-3 d-none d-sm-none d-md-block">Action</div>
  </div>

  <app-reminder-list-item
    [reminder]="reminder"
    *ngFor="let reminder of reminders; let i = index"
    (onDelete)="onDeleteItem($event)"
    (onModify)="onModifyItem($event)"
  ></app-reminder-list-item>

  <!-- Button trigger modal -->
  <ng-template #content let-modal>
    <div class="modal-header bg-dark text-white">
      <h4 class="modal-title" id="modal-basic-title">Modify Reminder</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span class="text-white" aria-hidden="true"> × </span>
      </button>
    </div>
    <div class="modal-body">
      <app-reminder-add
        [reminder]="remindertoModify"
        [modify]="true"
      ></app-reminder-add>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-dark"
        (click)="modal.close('Save click')"
      >
        Save
      </button>
    </div>
  </ng-template>
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    Popup using Angular and Bootstrap
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modify Remidner</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
